div{
    color: red;
    float: left;
    height:300px;
    width:33.33%;
}
.cse{
    background-color: palegoldenrod;
 
  

}
.food{
    background-color:cadetblue;
   
}
.RAC{
  background-color: brown;
 
}