div{
    padding: 100px 30px ;
    background-image: url('img/pexels-lukas-rychvalsky-670720.jpg');
    background-repeat:no-repeat;
    background-position:center center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    
}
*{
    padding: 0;
    margin: 0;
}


h1{
    font-size: 140px;
    color: white;
    box-sizing: 10px 5px 5px rgb(0,0,0.7);
   
}
p{
    margin-top 40px;
    color:white;
   font-size: 40px;
   line: height 40px;
}